.Game{
  max-width: 60vw;
  margin:  40px auto;
  font-family:Arial, Helvetica, sans-serif;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #0AB169;
  color: #fff;
}
.grid-container {
  padding: 50px;
}
.card-grid {
  margin-top:  40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 20px;	
}

.turn-container1 {
  padding: 20px;
  color: white;
  background-color: #0AB169;
}

.turn-container2 {
  padding: 20px;
  color: #489DDA;
  background-color: white;
}
.playerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sprite1{
  height: 100px;
  width: 100px;
  animation: MoveUpDown 1s linear infinite;
}

.sprite2{
  height: 100px;
  width: 100px;
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}