.Game{
  max-width: 100vw;
  font-family:Arial, Helvetica, sans-serif;
}

.title {
  margin: 0;
  text-align: center;
}

.grid-container {
  background-image: linear-gradient(to bottom, #8fb5d1, #0095ff);
  padding: 0 25px;
}
.card-grid {
  margin-top:  10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 20px;
  max-width: 100vw;
}

.turn-container1 {
  padding: 10px;
  color: white;
  background-color: #0AB169;
  font-size: 2vh;
}

.turn-container2 {
  padding: 10px;
  color: #489DDA;
  background-color: white;
  font-size: 2vh;
}

.playerContainer {
  margin: 0;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(to bottom, #8fb5d1, #0095ff);
  height: 320px;
  width: 200px;
  margin: 0 auto;
}
.gameRow{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.gameRow>*:first-child {
  order: 2;
}
.gameRow>*:nth-child(2) {
  order: 1;
}
.gameRow>*:nth-child(3) {
  order: 3;
}

.sprite1{
  height: 100px;
  width: 100px;
  animation: MoveUpDown 1s linear infinite;
}

.sprite2{
  height: 100px;
  width: 100px;
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@media screen and (orientation:portrait) {
  @media only screen and (max-width: 400px) {
    /* For mobile phones: */
    .Game{
      max-width: 30vw;
      margin:  0 auto;
      font-family:Arial, Helvetica, sans-serif;
      text-align: center;
    }

  }
}

@media screen and (orientation:landscape) {
  @media only screen and (max-width: 850px) {
    /* For mobile phones: */
    .Game{
      max-width: 60vw;
      margin:  0 auto;
      font-family:Arial, Helvetica, sans-serif;
      text-align: center;
    }
    .gameRow {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .gameRow>*:first-child {
      order: 1;
    }
    .gameRow>*:nth-child(2) {
      order: 2;
    }
    .gameRow>*:nth-child(3) {
      order: 3;
    }

    .playerContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-self: auto;
      padding: 20px;
      background-image: linear-gradient(to bottom, #8fb5d1, #0095ff);
      height: 100px;
    }
    .playerRow1 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-self: center;
      justify-content: space-between;
    }
    .playerRow1>:nth-child(1) {
      order: 1;
    }
    .playerRow1>:nth-child(2) {
      order: 2;
    }
    .playerRow1>:nth-child(3) {
      order: 4;
    }
    .playerRow1>:nth-child(4) {
      order: 3;
    }
    
    .playerRow2 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-self: center;
      justify-content: space-around;
    }

    .playerRow2>:nth-child(1) {
      order: 4;
    }
    .playerRow2>:nth-child(2) {
      order: 3;
    }
    .playerRow2>:nth-child(3) {
      order: 1;
    }
    .playerRow2>:nth-child(4) {
      order: 2;
    }
    .sprite1{
      height: 10vh;
      width: 10vh;
    }
    .sprite2{
      height: 10vh;
      width: 10vh;
    }
    
    .turn-container1 {
      padding: 10px;
      height: 10px;
      color: white;
      background-color: #0AB169;
      font-size: 2vh;
    }
    
    .turn-container2 {
      padding: 10px;
      height: 10px;
      color: #489DDA;
      background-color: white;
      font-size: 2vh;
    }
    
    p {
      padding: 0 2px;
    }
  }
}